*{
    margin: 0;
    padding: 0;
}
.icon-iamge{
    position: relative;
    left: 35%;
    bottom: 8%;
}
.border1{
    /* border: 2px solid red; */
    position: relative;
    bottom: 40px;
}
.card{
    gap: 10px;
}
.card22{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.img2{
    /* height: 80px; */
    margin: auto;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 3px solid white;
}
.image1{
    display: flex;
    justify-content: center;
    /* border-radius: 10%; */
}